<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Order Confirmation</title>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top" bgcolor="#fff" style="background-color:lightgray;">
                <br><br>
                <table width="700" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="70" align="left" valign="middle"></td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" bgcolor="#f9f1e7" style="background-color: #f9f1e7; font-family: Arial, Helvetica, sans-serif; padding: 10px; ">
                            <font style="font-size: 24px; color: black; font-weight: bold;">Order Confirmation</font>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="100%" style="color:darkslategrey; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                                        <font style="font-size:16px; color:#564319;">
                                            Your Order Summary:
                                        </font>
                                        <br />
                                        <font style="font-size:16px; color:#525252;padding-left:15px;">
                                            Dear {0} Thank you for shopping with us! Below are the details of your order:
                                            <br />
                                            Email &nbsp;: {1}
                                            <br />
                                            Phone : {2}
                                        </font>
                                        <br /><br />

                                        <font style="font-size:16px; color:#564319; padding-left:15px; margin-top: 20px;">
                                            <strong>Your Bill:</strong>
                                        </font>
                                        <hr />
                                        <font style="font-size:16px; color:#525252; padding-left:15px;">
                                            {3}
                                        </font>

                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#f9fbfc; border-left:4px solid red; padding:15px; margin-top:20px;">
                                            <tr>
                                                <td style="font-size:16px; color:#564319;">
                                                    <strong>Delivery Information</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:16px; color:#525252;padding-left:15px; margin-top: 10px;">
                                                    We care about your comfort! Delivery is carried out exclusively by courier directly to your home.
                                                    You do not need to go anywhere - we will bring all orders to the specified address. Enjoy your
                                                    purchases, and we will make sure that they are delivered quickly and safely.
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" bgcolor="#f9f1e7" style="background-color: #f9f1e7; font-family: Arial, Helvetica, sans-serif; padding: 10px;">
                            <font style="font-size:14px; color:black; text-align:center;">
                                Thank you for choosing our service!
                            </font>
                        </td>
                    </tr>
                </table>
                <br><br>
            </td>
        </tr>
    </table>
</body>
</html>