/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');


/* Toastr */
.toast-success {
    background-color: #13d878 !important;
}

.toast-warning {
    background-color: #357e45 !important;
}

.toast-error {
    background-color: #3533a7 !important;
}

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

.main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer {
    margin-top: auto; /* Это заставляет футер "отталкиваться" к низу */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
}

/*    .footer {
    height: 56px;
}*/

.port-image {
    width: 100%;
}

.col-md-3 {
    margin-bottom: 20px;
}

.each-item {
    position: relative;
    overflow: hidden;
}

    .each-item:hover .cap2, .each-item:hover .cap1 {
        left: 0px;
    }

.cap1 {
    position: absolute;
    width: 100%;
    height: 70%;
    background: rgba(255, 255, 255, 0.5);
    top: 0px;
    left: -100%;
    padding: 10px;
    transition: all .5s;
}

.cap2 {
    position: absolute;
    width: 100%;
    height: 30%;
    background: rgba(0, 178, 255, 0.5);
    bottom: 0px;
    left: 100%;
    padding: 10px;
    transition: all .5s;
}

.boxContainer {
    display: table;
}

.box {
    width: 200px;
    height: 200px;
    background: #0088cc;
    padding: 2%;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}

header {
    transition: all .4s ease;
    background-color: #e6e6e6;
}

    header.sticky {
        position: fixed;
        top: -140px;
        width: 100%;
        z-index: 10000;
        height: 58px;
        transform: translateY(140px);
        background-color: #e6e6e6 !important;
    }

#logreg-forms {
    width: 412px;
    margin: 10vh auto;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    #logreg-forms form {
        width: 100%;
        max-width: 410px;
        padding: 15px;
        margin: auto;
    }

    #logreg-forms .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        /*padding: 10px;*/
        font-size: 16px;
    }

        #logreg-forms .form-control:focus {
            z-index: 2;
        }

    #logreg-forms .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    #logreg-forms .form-signin input[type="password"] {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    #logreg-forms .social-login {
        width: 390px;
        margin: 0 auto;
        margin-bottom: 14px;
    }

    #logreg-forms .social-btn {
        font-weight: 100;
        color: white;
        width: 190px;
        font-size: 0.9rem;
    }

    #logreg-forms a {
        display: block;
        padding-top: 10px;
        color: lightseagreen;
    }

#logreg-form .lines {
    width: 200px;
    border: 1px solid red;
}

#logreg-forms button[type="submit"] {
    margin-top: 10px;
}

.facebook-btn {
    background-color: #3C589C;
    color: white;
}

#logreg-forms .form-reset, #logreg-forms .form-signup {
    display: none;
}

    #logreg-forms .form-signup .social-btn {
        width: 210px;
    }

    #logreg-forms .form-signup input {
        margin-bottom: 2px;
    }

.form-signup .social-login {
    width: 210px !important;
    margin: 0 auto;
}

/*hero*/
.hero {
    max-width: 320px;
    min-height: 432px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: url(../images/Hero.jpg);
    border-radius: 10px;
}

.hero-text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    max-width: 216px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFF3E3;
}

.button-class {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #FFF3E3;
    
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .button-class:hover,
    .button-class:focus {
        background-color: #FFE0B2;
    }



@media (min-width: 768px) {
    .hero {
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: url(../images/Hero.jpg);
    }

    .hero-text {
        margin: auto auto 16px auto;
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        color: #FFF3E3;
        font-family: "Poppins", serif;
        font-weight: 700;
        font-style: normal;
    }
}

@media (min-width: 1158px) {
    .hero {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: url(../images/Hero.jpg);
    }

    .hero-text {
        margin-bottom: 48px;
        margin: auto auto 16px auto;
    }
    .hero-cube {
        border-radius: 10px;
        width: 543px;
        height: 343px;
        position: relative; /* Нужно для корректной работы псевдоэлемента */
        z-index: 1; /* Устанавливаем позицию основного содержимого */
        margin: auto;
    }
        .hero-cube::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(0.4rem);
            background: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
            z-index: -1;
            border-radius: 15px;
            border: 1px solid #ebebeb;
        }
    .hero-container {
        padding-top: 70px;
    }

}

/**/

/**/

.hero-goods {
    max-width: 520px;
    min-height: 432px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: url(../images/Hero.jpg);
    border-radius: 10px;
}



    .hero-text-goods {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
        max-width: 216px;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFF3E3;
    }

.button-class-goods {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #FFF3E3;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .button-class-goods:hover,
    .button-class-goods:focus {
        background-color: #FFE0B2;
    }



@media (min-width: 768px) {
    .hero-goods {
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: url(../images/Hero.jpg);
    }

    .hero-text-goods {
        margin: auto auto 16px auto;
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        color: #FFF3E3;
        font-family: "Poppins", serif;
        font-weight: 700;
        font-style: normal;
    }
}

@media (min-width: 1158px) {
    .hero-goods {
        max-width: 100%;
        padding-top: 50px;
        padding-bottom: 188px;
        background-image: url(../images/Hero.jpg);
    }

    .hero-text-goods {
        margin-bottom: 48px;
        margin: auto auto 16px auto;
    }


    .hero-container-goods {
        padding-top: 70px;
    }
}

/**/

.descrInCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label.nameInCard {
    margin-bottom: 0rem;
}

/*fonts*/

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    color: #898989;
}

p, a, form, input, td {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

div, h5 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}
h2 {
    font-family: "Poppins", serif;
}

a {
    text-decoration: none !important;
}

.nameInCard {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #3a3a3a;
}

.priceInCard {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #3a3a3a;
}

.productCard:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.productCard {
    --bs-border-width: 0;
    border-bottom: 2px solid #ebebeb !important;
}

footer {
    margin-top: auto;
}

.sidebar {
    width: 250px;
    min-height: 100vh; /* Занимает всю высоту окна */
    position: relative;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: #343a40;
    color: white;
}

.main-content {
    background-color: #f8f9fa;
}

.application-category{
    border: none;
    text-align:center;


}
.section-Type {
    text-align:center;
}

.card-link {
    text-decoration: none;
    color: inherit;

}

    /* При наведении на ссылку тень добавляется только к изображению */
    .card-link .card-img-top {
        transition: transform 0.6s ease, box-shadow 0.6s ease;
    }

    .card-link:hover .card-img-top {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }


.section-Our-Products {
    text-align: center;
}
section {
    padding-top: 60px;
    padding-bottom: 60px;
}

/*team*/

.image-gallery {
    display: flex;
    flex-wrap: nowrap;
   
}

.image-item {
    flex: 1 1 auto;
    width: 250px; /* Ограничение ширины изображения */
    overflow: hidden;
}
.rectangle{
    height: 400px;
    
}
.square {
    margin-top: 6%;
}

.image-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (min-width: 1158px) {
    .square {
        margin-top: 70px;
    }

}
.instagram-section {
    background-color: #FCF8F3;
}
.image-item img {
    transition: transform 0.6s ease, box-shadow 0.6s ease; /* Увеличено время анимации */
}

    .image-item img:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
@media (max-width: 1200px) {
    .rectangle {
        height: 300px;
    }
}
@media (max-width: 767px) {
    .rectangle {
        height: 200px;
    }
}

@media (max-width: 768px) {
    .image-gallery {
        display: none;
    }

    .single-image {
        display: block;
        text-align: center;
    }
        .single-image img {
            width: 100%; /* Заполняет всю ширину экрана */
            max-width: 500px; /* Ограничение максимальной ширины */
            height: auto; /* Сохраняет пропорции */
            border-radius: 10px; /* Закруглённые углы */
        }
}

/* Скрываем общую фотографию на планшетах и выше */
@media (min-width: 769px) {
    .single-image {
        display: none;
    }
}

@media (min-width: 769px) {
    .obtekaemoe-img {
        float: left;
        margin-right: 20px;
        width: 50%;
    }
}
@media (max-width: 769px) {
    .obtekaemoe-img {
        margin-bottom: 20px;
    }
}
@media (min-width: 769px) {
    .obtekaemoe-img2 {
        float: right;
        margin-right: 20px;
        width: 50%;
    }
}

@media (max-width: 769px) {
    .obtekaemoe-img2 {
        margin-bottom: 20px;
    }
}

.ApplicationType-button {
    --bs-btn-hover-bg: #FFE0B2 !important;
}




    /**/