@model Anova_Models.ViewModels.HomeVM


@*<div class="container-fluid my-fon"><img src="~/images/fon.jpg" class="img-fluid" alt=""></div>*@

<div class="container-fluid home" id="home">
    

        <div class="container home-text">
            <h1 align="right">Tira mi su</h1>
             <p></p>
        </div>
</div>

<div class="container">
    <br />
    <div class="row">
        @foreach (var prod in Model.Products)
        {
            
                <partial name="_IndividualProductCard" model="prod" />
            
        }
    </div>
</div>

